<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1>Projects</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Onlinetennis', 'state': 'production', 'url': 'http://www.onlinetennis.net' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Gladiatoren', 'state': 'production', 'url': 'http://www.gladiatoren.de' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Castle Creepers', 'state': 'production', 'url': 'http://www.castlecreepers.com' } %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Combo Chaos', 'state': 'production', 'url': 'https://apps.facebook.com/combochaos' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'The Soccer Game', 'state': 'production', 'url': 'http://www.thesoccergame.de' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Fateful Encounters', 'state': 'alpha', 'url': 'https://www.fatefulencounters.com' } %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Star Commander', 'state': 'alpha', 'url': 'http://www.starcommander.net' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Casanova Story', 'state': 'alpha', 'url': 'http://casanovastory.com' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'F-L-O-I-D', 'state': 'alpha', 'url': 'https://dmecke.github.io/ld34/' } %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Snowboard Game', 'state': 'alpha', 'url': 'http://www.snowboardgame.net' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Open Soccer Star', 'state': 'prototype', 'url': 'http://opensoccerstar.com' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Soccer Simulation', 'state': 'prototype', 'url': 'http://soccersim.playground.cunningsoft.de' } %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Online Olympics', 'state': 'prototype', 'url': 'http://onlineolympics.playground.cunningsoft.de' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Space Taxi', 'state': 'prototype', 'url': 'http://spacetaxi.playground.cunningsoft.de' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Scream', 'state': 'prototype', 'url': 'http://scream.playground.cunningsoft.de' } %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Trade', 'state': 'prototype', 'url': 'http://trade.playground.cunningsoft.de' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Mad TV', 'state': 'prototype', 'url': 'http://madtv.playground.cunningsoft.de' } %}
            </div>
            <div class="col-md-4">
                {% include 'project.html.twig' with { 'name': 'Toy Train', 'state': 'prototype', 'url': 'https://dmecke.github.io/toytrain/' } %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
